<a href="https://colab.research.google.com/github/Waseem-Gopang/Data-Science/blob/main/Lab_05_20SW022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task:01

In [1]:
import pandas as pd
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

dist_planets = pd.Series(distance_from_sun, index=planets)

speed_of_light = 18
time_light = dist_planets / speed_of_light

close_planets = time_light[time_light < 40]

print("Distance from Sun:\n", dist_planets)
print("\nTime for sunlight to reach each planet:\n", time_light)
print("\nClose planets (sunlight takes less than 40 minutes):\n", close_planets)

Distance from Sun:
 Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

Time for sunlight to reach each planet:
 Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

Close planets (sunlight takes less than 40 minutes):
 Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

#Task:02

In [9]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with the given data
books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', 'H. G. Wells', 'Lewis Carroll'])

user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5.0, 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data=[4, 3.5, 4, 5, 4.2])

# Create a dictionary with the data
data = {
    'Author': authors,
    'Book Title': books,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(data)

# Replace NaN values with the average rating in each column
numeric_columns = ['User 1', 'User 2', 'User 3', 'User 4']
book_ratings[numeric_columns] = book_ratings[numeric_columns].fillna(book_ratings[numeric_columns].mean())

# Set the precision of decimals in the DataFrame
book_ratings = book_ratings.applymap(lambda x: round(x, 1) if isinstance(x, (int, float)) else x)

# Find the books that had a rating of 5
best_rated = book_ratings[book_ratings.eq(5).any(axis=1)]['Book Title'].values

print("Book Ratings:\n", book_ratings)
print("\nBest Rated Books:\n", best_rated)

Book Ratings:
                 Author           Book Title  User 1  User 2  User 3  User 4
0      Charles Dickens   Great Expectations     3.2     5.0     2.0     4.0
1       John Steinbeck      Of Mice and Men     2.9     1.3     2.3     3.5
2  William Shakespeare     Romeo and Juliet     2.5     4.0     2.8     4.0
3          H. G. Wells     The Time Machine     2.9     3.8     4.0     5.0
4        Lewis Carroll  Alice in Wonderland     2.9     3.5     2.8     4.2

Best Rated Books:
 ['Great Expectations' 'The Time Machine']