<a href="https://colab.research.google.com/github/Waseem-Gopang/Data-Science/blob/main/Lab_02_20SW022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab: 02

#Roll No: 20SW022

#Section: 2

# Task: 01

In [ ]:
point=174
if point>=1 and point<=50:
    print("Congratulations! You won a wooden rabbit!")
elif point>=51 and point<=150:
    print("Oh dear, no prize this time.")
elif point>=151 and point<=180:
    print("Congratulations! You won a wafer-thin mint")
elif point>181 and point<=200:
    print("Congratulations! You won a penguin")
else:
    print("Invalid point")

Congratulations! You won a wafer-thin mint

#Task: 02

In [ ]:
answer=10
guess=10
if guess<answer:
  print("Oops! Your guess was too low.")
elif guess>answer:
  print("Oops! Your guess was too high.")
else:
  print("Nice! Your guess matched the answer!")

Nice! Your guess matched the answer!

#Task: 03

In [ ]:
state="CA"
purchaseAmount=4000
if state=="CA":
  taxAmount=0.075
  totalCost=purchaseAmount*(1+taxAmount)
  print("Since you're from {}, your total cost is {}.".format(state, totalCost))
elif state=="MN":
  taxAmount=0.095
  totalCost=purchaseAmount*(1+taxAmount)
  print("Since you're from {}, your total cost is {}.".format(state, totalCost))
elif state=="NY":
  taxAmount=0.089
  totalCost=purchaseAmount*(1+taxAmount)
  print("Since you're from {}, your total cost is {}.".format(state, totalCost))

Since you're from CA, your total cost is 4300.0.

#Task: 04

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for i in sentence:
  print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

#Task: 05

In [17]:
for i in range(5,31,5):
  print(i)

5
10
15
20
25
30

#Task: 06

In [18]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

#Task: 07

In [19]:
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

#Task: 08

In [23]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}
passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

#Task: 09

In [24]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

#Task: 10

In [25]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for index, name in enumerate(cast):
    cast[index] = f"{name} {heights[index]}"
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']