<a href="https://colab.research.google.com/github/Waseem-Gopang/Data-Science/blob/main/Lab_1_20SW022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab#1

Roll_No: 20SW022

Section: 2

Lab#1

#Task#01
# Write two lines of code below, each assigning a value to a variable
# Now write a print statement using .format() to print out a sentence and the
# values of both of the variables

In [ ]:
name="Waseem"
department="Pakistan Custom Service"
print("My name is {} and I belongs to {} department".format(name,department))

My name is Waseem and I belongs to Pakistan Custom Service department

#Task#2
# Browse the complete list of string methods at:
# https://docs.python.org/3/library/stdtypes.html#string-methods
# and try them out here

In [ ]:
department="pakistan Administration Service"
print(department.capitalize())
print(department.casefold())
print(department.count("Service"))
print(department.encode())
print(department.find("pakistan Administration Service"))
print(department.isalnum())
print(department.islower())
print(department.center(120))
print(department.swapcase())
print(department.splitlines())
print(department.endswith("Service"))
print(department.expandtabs(20))
print(department.replace("pakistan Administration Service","Police Service of Pakistan"))
print(department.upper())
print(department.rpartition("Administration"))

Pakistan administration service
pakistan administration service
1
b'pakistan Administration Service'
0
False
False
                                            pakistan Administration Service
PAKISTAN aDMINISTRATION sERVICE
['pakistan Administration Service']
True
pakistan Administration Service
Police Service of Pakistan
PAKISTAN ADMINISTRATION SERVICE
('pakistan ', 'Administration', ' Service')

Task#03
#List Indexing
#Use list indexing to determine how many days are in a particular month based on the integer variable month , and store that value in the integer variable num_days . For example, if month is 8, num_days should be set to 31, since the eighth month, August, has 31 days.Remember to account for zero-based indexing!

In [ ]:
month=2
days_in_month=[31,28,31,30,31,30,31,31,30,31,30,31]
num_of_days=days_in_month[month-1]
print(num_of_days)

28

Task#04
#Select the three most recent dates from this list using list slicing notation.
# Hint: negative indexes work in slices!
#eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
# 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
#'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']


# TODO: Modify this line so it prints the last three elements of the
#list
#print(eclipse_dates)

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

#Task#05
#Store studentâ€™s data using nested dictionary.

In [ ]:
students={"20SW022":{"name":"waseem","age":"20","department":"software"},
          "20SW046":{"name":"zameer","age":"24","department":"software"},
          "57CTP022":{"name":"waseem","age":"28","department":"Pakistan Custom Service"},
          "49CTP035":{"name":"Hamid","age":"27","department":"Police Service of Pakistan"},
          "21SW022":{"name":"Ali","age":"18","department":"software"}}
print(students)

{'20SW022': {'name': 'waseem', 'age': '20', 'department': 'software'}, '20SW046': {'name': 'zameer', 'age': '24', 'department': 'software'}, '57CTP022': {'name': 'waseem', 'age': '28', 'department': 'Pakistan Custom Service'}, '49CTP035': {'name': 'Hamid', 'age': '27', 'department': 'Police Service of Pakistan'}, '21SW022': {'name': 'Ali', 'age': '18', 'department': 'software'}}